<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/navbar.ejs") %> <% if (perguntas.length > 0) { %>
  <div class="container">
    <h1 class="mt-4">Perguntas</h1>

    <a href="/perguntar" class="btn btn-primary mb-4">Perguntar</a>

    <% perguntas.forEach((pergunta) => { %>
    <div class="card mt-3">
      <div class="card-body">
        <h3>
          <a href="/pergunta/<%- pergunta.id %>"> <%- pergunta.titulo %> </a>
        </h3>
      </div>

      <div class="card-footer">
        <a href="/pergunta/<%- pergunta.id %>">
          <button class="btn btn-primary">Responder</button>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</body>
<%- include ("partials/footer.ejs") %>
